*{
    padding: 0;
    margin: 0;
}

:root{
    --color_body: #eb8b8a;
    --color_background: #fff;
    --color_mouth: #FFF2AF;
    --color_foot:#ddd;
}

body { 
    background-repeat: no-repeat;
    background-position: center 100px;
}

.main {
    height: 400px;
    width: 380px;
    border: 1px solid #111;
    padding: 10px;
    margin: 0 auto;
    transform:scale(.8)
}
.base {
    background-color: var(--color_body);
    border-radius: 50% 50% / 50% 50%;
    width: 355px;
    height: 315px;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 40%;
    top: 39%;
}

.body-intro {
    background-color: var(--color_body);
    border-radius: 50% 50% / 50% 50%;
    width: 170px;
    height: 96px;
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: black;
    border-width: 1px;
    left: 54%;
    top: 62.5%;
    z-index: 3;
}

.body-intro2 {
    background-color: var(--color_body);
    border-radius: 45% 55% 70% 30% / 90% 90% 10% 10% ;
    width: 150px;
    height: 180px;
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: black;
    border-width: 1px;
    left: 48%;
    top: 51%;
    z-index: 3;
}

.body-intro3 {
    background-color:  var(--color_body);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 62%;
    top: 45%;
    z-index: 3;
}

.floor {
    background-color: var(--color_background);
    border-radius: 43% 50% / 50% 50%;
    width: 250px;
    height: 90px;
    position: absolute;
    transform: rotate(-10deg);
    border-style: solid;
    border-color: transparent;
    border-top-color: black;
    border-width: 1px;
    left: 45.2%;
    top: 73%
}

.floor2 {
    background-color: var(--color_background);
    border-radius: 43% 50% / 50% 50%;
    width: 205px;
    height: 90px;
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    left: 33%;
    top: 70%;
    z-index: 1;
}

.head {
    background-color: var(--color_body);
    border-radius: 70% 68% 70% 65% / 50% 60% 50% 65%;
    width: 230px;
    height: 270px;
    position: absolute;
    border-style: solid;
    border-top-color: black;
    border-width: 1px;
    left: 33%;
    top: 38%;
}

.tail {
    background-color: var(--color_body);
    border-radius: 60% 55%/ 55% 55%;
    width: 390px;
    height: 390px;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 38.5%;
    top: 14%;    
    z-index: -2;
}

.taildown {
    background-color: var(--color_background);
    border-radius: 60% 45%/ 55% 55%;
    width: 355px;
    height: 330px;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 35%;
    top: 20%; 
    z-index: -1;   
}

.tail-into {
    background-color: var(--color_foot);
    width: 120px;
    height: 77px;
    clip-path: polygon(98% 16%, 100% 30%, 100% 52%, 90% 51%, 61% 55%, 35% 64%, 0 86%, 25% 50%, 60% 17%, 93% 0);
    transform: rotate(5deg);
    position: absolute;
    left: 42.8%;
    top: 13.68%;
    z-index: 3;
}


.eye2 {
    background-color: var(--color_background);
    border-radius: 50%/ 50%;
    width: 70px;
    height: 66px;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 41%;
    top: 45%;    
}

.eye1 {
    background-color: var(--color_background);
    border-radius: 50% 90%/ 50% 50%;
    width: 27px;
    height: 70px;
    position: absolute;
    transform: rotate(20deg);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 33.3%;
    top: 44%;    
}

.ear1 {
    background-color: var(--color_body);
    border-radius: 50% 50%/ 50% 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 33%;
    top: 36.3%;
    z-index: -1;    
}

.ear2 {
    background-color: var(--color_body);
    border-radius: 50% 50%/ 50% 50%;
    width: 81px;
    height: 70px;
    position: absolute;
    transform: rotate(30deg);
    border-style: solid;
    border-color: black;
    border-bottom-color: transparent;
    border-width: 1px;
    left: 44.5%;
    top: 36.9%;    
}

.ear1-section1{
    background-color:  var(--color_body);
    width: 25px;
    height: 25px;
    position: absolute;
    left: 35%;
    top: 40%;
    z-index: 3;
}

.ear2_section1 {
    background-color: transparent;
    border-radius: 50% 50%/ 50% 50%;
    width: 35px;
    height: 43px;
    position: absolute;
    transform: rotate(120deg);
    border-style: solid;
    border-color: black;
    border-left-color: transparent;
    border-top-color: transparent;
    border-width: 1px;
    left: 47%;
    top: 41%;    
}

.ear2_section2 {
    background-color: transparent;
    border-radius: 50% 50%/ 50% 50%;
    width: 25px;
    height: 33px;
    position: absolute;
    transform: rotate(140deg);
    border-style: solid;
    border-color: transparent;
    border-left-color: black;
    border-width: 1px;
    left: 46.9%;
    top: 41.4%;    
}

.eye1_iris {
    background-color: black;
    border-radius: 50% 50%/ 50% 50%;
    width: 5px;
    height: 6px;
    position: absolute;
    transform: rotate(25deg);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 34%;
    top: 47%; 
}

.eye2_iris {
    background-color: black;
    border-radius: 50% 50%/ 50% 50%;
    width: 5px;
    height: 6px;
    position: absolute;
    transform: rotate(25deg);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 43.3%;
    top: 48.3%; 
}

.foot1 {
    background-color: var(--color_foot);
    border-radius: 60% 54%/ 50% 50%;
    width: 35px;
    height: 20px;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 35.8%;
    top: 72%;    
    z-index: 1;
}

.foot2 {
    background-color: var(--color_foot);
    /* border-radius: 65% 35% 85% 15% / 85% 35% 65% 15%; */
    border-radius: 60% 54%/ 50% 50%;
    width: 35px;
    height: 20px;
    position: absolute;
    transform: rotate(-20deg);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 39.7%;
    top: 72.9%; 
    z-index: 3;   
}

.foot3 {
    background-color: var(--color_foot);
    border-radius: 65% 35% 85% 15% / 85% 35% 65% 15%;
    width: 35px;
    height: 30px;
    position: absolute;
    transform: rotatey(180deg);
    transform: rotate(-140deg);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 67.4%;
    top: 69%; 
    z-index: 1;   
}

.basefoot3 {
    background-color: var(--color_body);
    width: 61px;
    height: 82px;
    position: absolute;
    transform: rotate(10deg);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    clip-path: polygon(76% 30%, 100% 41%, 100% 70%, 59% 94%, 0 99%, 19% 57%, 27% 10%);
    left: 64.35%;
    top: 64%;    
    z-index: 1;
}

.foot3_back {
    background-color: black;
    width: 63px;
    height: 83px;
    position: absolute;
    transform: rotate(10deg);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    clip-path: polygon(76% 30%, 100% 41%, 100% 70%, 59% 94%, 0 99%, 19% 57%, 27% 10%);
    left: 64.35%;
    top: 64%;    
}


.foot3_1 {
    background-color: var(--color_body);
    width: 26px;
    height: 19px;
    border-radius: 50% / 50%;
    position: absolute;
    transform: rotate(95deg);
    border-style: solid;
    border-right-color: var(--color_body);
    border-bottom-color: var(--color_body) ;
    border-left-color: var(--color_body) ;
    border-top-color: black ;
    border-width: 1px;
    left: 67.6%;
    top: 69.5%;   
    z-index: 1;
}

.basefoot1 {
    background-color: var(--color_body);
    border-radius: 45% 55% 30% 70% / 57% 80% 20% 43% ;
    width: 110px;
    height: 125px;
    position: absolute;
    transform: rotateX(30deg);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 29.7%;
    top: 58.1%;    
    z-index: 1;
}

.basefoot2 {
    background-color:  var(--color_body);
    border-radius: 55% 55% 75% 25% / 55% 50% 50% 5%  ;
    width: 60px;
    height: 138px;
    position: absolute;
    transform: rotate(245deg);
    border-style: solid;
    border-color: black;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-width: 1px;
    left: 43%;
    top: 61%;    
    z-index: 3;
}

.basefoot2_1 {
    background-color:  var(--color_body);
    border-radius: 89% 10% 100% 10% / 100% 30% 76% 0%  ;
    width: 40px;
    height: 100px;
    position: absolute;
    transform: rotate(258deg);
    border-style: solid;
    border-color: black;
    border-bottom-color: transparent ;
    border-width: 1px;
    left: 42.8%;
    top: 67.5%;   
    z-index: 1; 
}

.mouth1 {
    background-color: var(--color_mouth);
    border-radius: 75% 19% 68% 32% / 68% 17% 77% 30%;
    width: 60px;
    height: 107px;
    position: absolute;
    transform: rotate(48deg);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 33.2%;
    top: 46.4%;  
}

.mouth2 {
    background-color: var(--color_mouth);
    border-radius: 72% 30% 85% 46% / 51% 25% 80% 17% ;
    width: 20px;
    height: 135px;
    position: absolute;
    transform: rotate(116deg);
    border-style: solid;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-width: 1px;
    left: 41.4%;
    top: 44.5%;    
    z-index: 2;
}

.mouth3 {
    background-color: var(--color_mouth);
    border-radius: 0% 100% 100% 0% / 51% 56% 52% 17% ;
    width: 30px;
    height: 120px;
    position: absolute;
    transform: rotate(90deg);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-left-color: transparent;
    left: 40%;
    top: 50.5%; 
    z-index: 1;   
}

.mouth4 {
    background-color: var(--color_mouth);
    border-radius: 50% / 50% ;
    width: 50px;
    height: 140px;
    position: absolute;
    transform: rotate(90deg);
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    left: 37%;
    top: 45.3%;    
    z-index: 1;
}

.mouth5 {
    background-color: var(--color_mouth);
    width: 90px;
    height: 17px;
    border-radius: 80% 30%/ 80% 30%;
    position: absolute;
    transform: rotate(18deg);
    border-style: solid;
    border-bottom-color: black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-width: 1px;
    left: 35%;
    top: 58.1%; 
    z-index: 2;   
}

.into-mouth {
    background-color: var(--color_mouth);
    border-radius: 72% 30% 85% 46% / 51% 25% 80% 17% ;
    width: 20px;
    height: 125px;
    position: absolute;
    transform: rotate(114deg);
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    left: 40.8%;
    top: 44.8%;    
}

.into-mouth2 {
    background-color: var(--color_mouth);
    border-radius: 50% 50% / 50% 50% ;
    width: 43px;
    height: 10px;
    position: absolute;
    transform: rotate(180deg);
    border-style: solid;
    border-color: transparent;
    border-top-color: black;
    border-width: 1px;
    left: 33%;
    top: 58%; 
    z-index: 2;
}

.smile {
    background-color: var(--color_mouth);
    border-radius: 0% 100% 50% 50% / 0% 0% 100% 100% ;
    width: 170px;
    height: 90px;
    position: absolute;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: black;
    border-width: 1px;
    left: 34.2%;
    top: 58%;
    z-index: 1;
}

.smile2 {
    background-color: #4E2830;
    border-radius: 50% 50% 65% 55%/ 20% 10% 90% 90% ;
    width: 140px;
    height: 90px;
    position: absolute;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: black;
    border-width: 1px;
    left: 35%;
    top: 56%;
    z-index: 1;
}

.smile3 {
    background-color: #ec7270;
    border-radius: 25% 75% 60% 40% / 35% 1% 99% 65% ;
    width: 127px;
    height: 77px;
    transform: rotate(5deg);
    position: absolute;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: black;
    border-width: 1px;
    left: 36%;
    top: 58%;
    z-index: 1;
}

.smile4 {
    background-color:var(--color_mouth);
    width: 68px;
    height: 13px;
    transform: rotate(298deg);
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-top-color: black;
    border-width: 1px;
    left: 42.1%;
    top: 62.24%;
    z-index: 2;
}

.smile5 {
    background-color: var(--color_mouth);
    width: 12px;
    height: 39px;
    transform: rotate(53deg); 
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-left-color: black;
    border-width: 1px;
    left: 42.1%;
    top: 65%;
    z-index: 2;
}  

.tail-top {
    background-color: var(--color_background);
    border-radius: 75% 25% 75% 25% / 75% 25% 75% 25%;
    width: 27px;
    height: 133px;
    transform: rotate(39deg);
    position: absolute;
    border-style: solid;
    border-top-color: black;
    border-color: transparent;
    border-width: 1px;
    left: 38%;
    top: 19.7%;
    z-index: 2;
}

.noise1 {
    background-color: transparent; 
    width: 8px;
    height: 8px;
    transform: rotate(150deg);
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-right-color: black;
    border-width: 1px;
    left: 35%;
    top: 56%;
    z-index: 1;
}

.noise2 {
    background-color: transparent; 
    width: 8px;
    height: 8px;
    transform: rotate(40deg);
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-right-color: black;
    border-width: 1px;
    left: 37%;
    top: 56.2%;
    z-index: 2;
}


.tusk {
    background-color: var(--color_background);
    border-radius: 90% 10% 10% 90% / 100% 0% 100% 0%;  
    width: 12px;
    height: 20px;
    transform: rotatex(490deg);
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 33%;
    top: 58.7%;
    z-index: 1;
}

.tusk2 {
    background-color: var(--color_background);
    border-radius: 50% 50% 50% 50% / 100% 0% 100% 0%;  
    width: 16px;
    height: 18px;
    transform: rotate(130deg);
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    left: 39.5%;
    top: 59.7%;
    z-index: 1;
}


